body {
      position: relative; 
 }

#section0 {
	padding-top:10%;
}

#myNavbar {

  overflow: hidden;
}
#myNavbar a {
  float: left; 
  display: block;
}


#section1 {
	padding-top: 5%;
	text-align: center;
}

#section1 h1{
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;
}

#section2 {
	padding-top: 5%;
	text-align: center;
}

#section2 h1{
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;}

#section3 {
	padding-top: 5%;
	text-align: center;
}

#section3 h1{
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;
}

#section4 {
	padding-top: 5%;
	text-align: center;
}

#section4 h1{
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;
}

#section5 {
	padding-top: 5%;
	text-align: center;
	padding-bottom: 5%;
}

#section5 h1{
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;
}

#section6 {

	text-align: center;
	background-color: black;
	color: white;
	padding-bottom: 5%;
}

#section6 h1{

	border-bottom: solid;
	border-bottom-width: thin;
	border-color: gray;
	margin-bottom: 5%;
}


.image_main{
	height: 40%;
	width: 40%;
	border-radius: 50%;
}

.contact-part{
	padding-left: 0;
	margin-left: 0;
}
input[type=text], input[type=email], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 2%;
}
textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 2%;
}

.row{
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #444;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 10%;
}



input[type=submit]:hover {
  background-color: black;
}



#section6 .navbar-social{
	color: white;
}


#navbar-social {
  overflow: hidden;
  text-align: center;
}

#navbar-social a {
  float: left; 
  display: block;
  padding-top: 5%;
  margin-left: 30%;
  text-decoration: none;
  font-size: 300%;
  color: rgb(224, 224, 224);
}

#navbar-social a:hover {
  color: white;
}

.footer{
	background-color: black;
	color: white;
}
.copyright{
	margin-bottom: 0%;
}

